<% provide(:title, "BLOG-TITLE - #{@user.name}") %>

<div>

	<h1>BLOG-TITLE</h1>
	<div>       
		<%= user_gravatar @user, size: 50 %>			
		<%= @blog.user.name %>
	</div>
	</br>
	<div>
		<p>Content: <%= @blog.content %></p>
	</div>

</div>