<% provide(:title, "TITLE - #{@blog.user.name}") %>

<div>

	<h1>Showing Selected Blog Posts</h1>
	<div>       
		<%= render @user %>
	</div>
	<div>
		<p>Content: <%= @blog.content %></p>
	</div>

</div>