# Instruction
  # @blog_posts_feed
    # - user.rb/feed Method/Rails Active Record/where Method's returning Variable.
	    # - When Rails/ActiveRecord/where Method Fetches data from the Database, it makes an Array of FETCHED Data which can be accessed in the View.

<% if @blog_posts_feed.count > 0 %>
  <% puts "### app/views/shared/_blog_posts_feed.html.erb" %>   
  
  <% @blog_posts_feed.each do | post | %>
       
    <ol class="blogs">      
      <%= render post %>
    </ol>      
  
  <% end %>

  <div class="feed-button__container" style="position: fixed; top: 20%; left: 5%; background-color: #333;">
    <div>
 
      <% if session[:batch_number] > 0 %>
        <%= link_to "Previous", 
        { 
          controller: session[:current_controller], 
          action: session[:current_action], 
          batch_number: "#{calculate_batch_number(clicked_button: "previous", batch_size: @batch_size)}"
        }, class: "feed-button" %>    
      <% end %>
    </div>

    <div>
      <% for i in 0..calculate_total_batches(@batch_size) -1 do %>
        <%= link_to "#{i + 1}", 
        { 
          controller: session[:current_controller], 
          action: session[:current_action], 
          batch_number: "#{calculate_batch_number(clicked_button: "#{(i + 1).to_i}", batch_size: @batch_size)}"
        }, class: "feed-button" %>    
      <% end %>
    </div>

    <div>
      <% if session[:batch_number] < calculate_total_batches(@batch_size) -1 %>        
        <%= link_to "Next", 
        { 
          controller: session[:current_controller], 
          action: session[:current_action], 
          batch_number: "#{calculate_batch_number(clicked_button: "next", batch_size: @batch_size)}" 
        }, class: "feed-button" %>  
      <% end %>
    </div>
    
    

  </div>

<% end %>
