

<% if @blog_posts_batch.count > 0 %>

 <% puts "## app/views/shared/_blog_posts_feed.html.erb" %>
 <% puts @blog_posts_batch.class %>
<% puts "session[:batch_number] #{session[:batch_number]}" %>
  
  <% @blog_posts_batch.each do | post | %>
       
    <ol class="blogs">      
      <%= render post %>
    </ol>      
  
  <% end %>

  <div class="feed-button__container" style="position: fixed; top: 20%; left: 5%; background-color: #333;">
    <div>
  # When the user clicked a Feed Button
  # - Send page URL Param as (Actual Batch Nmuber + 1)
    # P
    # - Looks better (consistent to the Page Number) in URL Param to Pass 
 
    <% puts "session[:batch_number] #{session[:batch_number]}" %>
      <% if session[:batch_number] > 0 %>
        <%= link_to "Previous", 
        { 
          controller: session[:responded_controller], 
          action: session[:responded_action], 
          page: (calculate_batch_number(clicked_button: "previous", batch_size: @batch_size)) + 1
        }, class: "feed-button" %>    
      <% end %>
    </div>

    <div>
      <% for i in 0..calculate_total_batches(@batch_size) -1 do %>                        
        <%= link_to i + 1, 
        { 
          controller: session[:responded_controller], 
          action: session[:responded_action], 
          page: (calculate_batch_number(clicked_button: i + 1, batch_size: @batch_size)) + 1
        }, class: "feed-button" %>    
      <% end %>
    </div>

    <div>
    <% puts "session[:batch_number] #{session[:batch_number]}" %>
      <% if session[:batch_number] < calculate_total_batches(@batch_size) -1 %>        
        <%= link_to "Next", 
        { 
          controller: session[:responded_controller], 
          action: session[:responded_action], 
          page: (calculate_batch_number(clicked_button: "next", batch_size: @batch_size)) + 1
        }, class: "feed-button" %>  
      <% end %>
    </div>
    
    

  </div>

<% end %>
