# Instruction
  # @blog_posts_feed
    # - user.rb/feed Method/Rails Active Record/where Method's returning Variable.
	    # - When Rails/ActiveRecord/where Method Fetches data from the Database, it makes an Array of FETCHED Data which can be accessed in the View.

<% if @blog_posts_feed.count > 0 %>
  <% puts "### app/views/shared/_blog_posts_feed.html.erb" %>   
  
  <% @blog_posts_feed.each do | post | %>
       
    <ol class="blogs">      
      <%= render post %>
    </ol>      
  
  <% end %>

  <div style="position: fixed; top: 20%; left: 5%; background-color: #333;">
    <div>
      <% if session[:batch_number] > 0 %>
        <%= link_to "Previous", controller: session[:current_controller], action: session[:current_action], direction: "previous" %>    
      <% end %>
    </div>

    <div>
      <% for i in 0..@total_batches -1 do %>
        <%= link_to "#{i + 1}", controller: session[:current_controller], action: session[:current_action], clicked_page: "#{i + 1}" %>    
      <% end %>
    </div>

    <div>
      <% if session[:batch_number] < @total_batches -1 %>        
        <%= link_to "Next", controller: session[:current_controller], action: session[:current_action], direction: "next" %>  
      <% end %>
    </div>
    
    

  </div>

<% end %>
