# Instruction
  # @blog_posts_feed
    # - user.rb/feed Method/Rails Active Record/where Method's returning Variable.
	    # - When Rails/ActiveRecord/where Method Fetches data from the Database, it makes an Array of FETCHED Data which can be accessed in the View.

<% if @blog_posts_feed.any? %>
  <% puts "### app/helpers/blog_posts_feed_helper" %> 
  
  <% @blog_posts_feed.each do | post | %>
       
    <ol class="blogs">      
      <%= render post %>
    </ol>  
    <% puts "session[:current_controller] #{session[:current_controller]}"%>
  
  <% end %>

  <div>
    <%= link_to "Previous", controller: session[:current_controller], action: session[:current_action], direction: "previous" %>    
  </div>

  <div>
    <%= link_to "Next", controller: session[:current_controller], action: session[:current_action], direction: "next" %>  
  </div>

<% end %>
